<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite123456">
  <test thread-count="5" name="ChromeTest12345">
    <classes>
      <class name="test.TestNGClas"/>
      <class name="test.TestClass1"/>
    </classes>
  </test> <!-- ChromeTest12345 -->
</suite> <!-- Suite123456 -->
